h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 15px;
}

.roboto-tipografia {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}